@model Areas.Contrive.Models.ResetPasswordViewModel

@{
  ViewBag.Title = "Password Reset Request Received";
}

<h2>Password Reset Request Received</h2>

<p>Please check the inbox associated with your account for instructions.</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>